<section>
  <div class="field">
    <label for="amount-of-topics">Amount:</label>
    {{input id="amount-of-topics" type="number" step=3 value=this.amount}}
  </div>
</section>

<section>
  <h1 class="title">Topics</h1>
  <Topics @topics={{this.topics}} class="topics" as |topic|>
    <Topic @topic={{topic}} />
  </Topics>
</section>
