<h2>在父子组件之间传递状态</h2>

{{#user-section model as |user api|}}
  {{user.header api.currentUser}}
  <div class="grid">
    {{user.list api}}
    {{user.detail api.currentUser}}
  </div>
{{/user-section}}
