<div local-class="loader">
  <div local-class="pitch"></div>
  <div local-class="players">
    <div local-class="player"></div>
    <div local-class="player"></div>
    <div local-class="player"></div>
    <div local-class="player"></div>
    <div local-class="player"></div>
    <div local-class="player"></div>
    <div local-class="player"></div>
    <div local-class="player"></div>
    <div local-class="player"></div>
    <div local-class="player"></div>
  </div>
</div>
